@charset "UTF-8";
h6 {
  font-size: 14px;
  font-size: 1.4rem; }

h5 {
  font-size: 16px;
  font-size: 1.6rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h2 {
  font-size: 22px;
  font-size: 2.2rem; }

h1 {
  font-size: 24px;
  font-size: 2.4rem; }

p {
  font-size: 14px;
  font-size: 1.4rem; }

a {
  color: #353e94; }

td {
  font-size: 14px;
  font-size: 1.4rem; }

body {
  font: "Times New Roman", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Verdana, "MS Pゴシック", sans-serif;
  font-size: 62.5%;
  background: #fff; }

.row {
  margin: 0 1% 0 1%; }

.ryouikihisshu {
  text-decoration-line: underline; }

.sciEn {
  font-weight: bold; }

.eng {
  font-style: italic; }

.material {
  color: #5cb3f1; }

.bio {
  color: #ff4500; }

.apply {
  color: #ffb600; }

.env {
  color: #00f100; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.tabs .lectures .lecture {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #aaa;
  min-height: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .tabs .lectures .lecture {
      min-height: 150px; } }
  @media (max-width: 768px) {
    .tabs .lectures .lecture .rishuBtn {
      float: right; } }
  .tabs .lectures .lecture .lecture__title {
    padding: 10px 0 0 0;
    margin: 0; }
    .tabs .lectures .lecture .lecture__title .detailBtn {
      cursor: pointer;
      padding: 5px 4px 5px 5px;
      -moz-transition: all 0.15s linear;
      -o-transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      @media (max-width: 768px) {
        .tabs .lectures .lecture .lecture__title .detailBtn {
          text-align: right; } }
    .tabs .lectures .lecture .lecture__title .detailOnBtn:hover {
      color: #00f100;
      background: #eee; }
    .tabs .lectures .lecture .lecture__title .detailOffBtn {
      padding-right: 6px;
      padding-bottom: 5px; }
      .tabs .lectures .lecture .lecture__title .detailOffBtn:hover {
        color: #ff4500;
        background: #eee; }
  .tabs .lectures .lecture .lectureDivTable .lecture__table tr td {
    min-width: 120px; }
    @media (max-width: 768px) {
      .tabs .lectures .lecture .lectureDivTable .lecture__table tr td {
        min-width: 70px; } }
  .tabs .lectures .lecture .lectureDivTable .lecture__table tr .lectureDesc {
    height: 200px;
    line-height: 1.9;
    overflow: auto; }
    @media (max-width: 768px) {
      .tabs .lectures .lecture .lectureDivTable .lecture__table tr .lectureDesc {
        height: 400px; } }

#displayModel {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 0px;
  overflow: auto; }
  @media (max-width: 768px) {
    #displayModel {
      position: static;
      padding-left: 15px; } }
  #displayModel .sidebarTitle {
    background-color: #353e94;
    font-weight: bold;
    color: #fff;
    padding: 17px 0px 17px 15px;
    margin: 0; }
    @media (max-width: 768px) {
      #displayModel .sidebarTitle {
        text-align: center; } }
  #displayModel #rishuModel__Content {
    height: 300px;
    overflow: auto;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px; }
    #displayModel #rishuModel__Content ul {
      padding-left: 20px; }
      #displayModel #rishuModel__Content ul li {
        list-style-type: none; }
        #displayModel #rishuModel__Content ul li a {
          font-size: 12px;
          font-size: 1.2rem;
          font-weight: bold;
          color: #353e94; }
  #displayModel #rishuInfo h5 span {
    color: #353e94;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
