@import 'compass';
@charset 'utf-8';
$baseColor: #fff;
$subColor: #353e94;
$greenColor : #00f100;
$yellowColor : #ffd700;
$redColor : #ff4500;
$blueColor : #5cb3f1;
$orangeColor: #ffb600;

$ja_font :   "メイリオ", "Verdana", "MS Pゴシック", "sans-serif","Times New Roman";
@mixin fontsize($size: 24, $base : 10){
  font-size: $size + px;
  font-size: $size / $base  * 1rem;
}

h6{
  @include fontsize(14);
}
h5{
  @include fontsize(16);
}
h4{
  @include fontsize(18);
}
h3{
  @include fontsize(20);
}
h2{
  @include fontsize(22);
}
h1{
  @include fontsize(24);
}
p{
  @include fontsize(14);
}
a{
  color: $subColor;
}

td {
  @include fontsize(14);
}
body {
  font-family: $ja_font;
  font-size: 62.5%;
  background: #fff;
  min-height: 1000px;
}
.dropdown-menu>li{
  .material{
    color: $blueColor;
    &:hover {
      color: $blueColor;
    }
  }
  .bio{
    color: $redColor;
    &:hover {
      color: $redColor;
    }
  }
  .apply{
    color: $orangeColor;
    &:hover {
      color: $orangeColor;
    }
  }
  .env{
    color: $greenColor;
    &:hover {
      color: $greenColor;
    }
  }
}
.dropdown{
  display: inline-block;
  @include fontsize(14);
}
.input-group {
  margin: 20px 0;
}
.row {
  margin: 0 0 0 0;
}
.ryouikihisshu{
  text-decoration-line: underline;
}
.sciEn {
  font-weight: bold;
}
.eng {
  font-style: italic;
  font-family: "ＭＳ ゴシック";
}
.material{
  color: $blueColor;
}
.bio{
  color: $redColor;
}
.apply{
  color: $orangeColor;
}
.env{
  color: $greenColor;
}
.sci {
  
}
.material-bg{
  background-color: $blueColor;
  &:hover {
    background-color: darken($blueColor, 10%);
  }
}
.bio-bg{
  background-color: $redColor;
  &:hover {
    background-color: darken($redColor, 10%);
  }
}
.apply-bg{
  background-color: $orangeColor;
  &:hover {
    background-color: darken($orangeColor, 10%);
  }
}
.env-bg{
  background-color: $greenColor;
  &:hover {
    background-color: darken($greenColor, 10%);
  }
}

.clearfix:after {
  
  content: " " ;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navbar {
  border-radius: 0;
  margin: 0;
}
.navbar-nav{
  @include fontsize(14);
}
.nav-tabs {
  @include fontsize(14);
}
.main {
  margin: 10px 0;
}
.noteLabel {
  padding: 18px 20px;
  border-left: 5px solid $subColor;
  border-bottom: 1px solid $subColor;
  @include box-shadow(1px 1px 0.5px 0.5px rgba(0,0,0,0.2));
}
.tabContent {
  &:nth-child(1){
    display: none;
  }
  &:nth-child(2) {
    display: none;
  }
}
.tabs__lab {
  .lab__ryouiki__apply{
    @include display-flex(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    .profGroup{
      width: 188px;
      
      h5{
        display: inline-block;
      }
    }
  }
}
.tabs__ryouiki {
  h2{
    
  }
  .btns{
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    button {
      @include fontsize(20);
      font-weight: bold;
      color: white;
      width: 48%;
      padding: 30px 1%;
      margin: 20px 1%;
      @include box-sizing(border-box);
      @include box-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.2));
      @include justify-content(space-between);
      
    }
  }
}



  
.lectures{
  .lecture{
    padding: 5px;
    margin: 10px 0;
    min-height: 100px;
    @include box-shadow(1px 1px 1px 2px rgba(0,0,0,0.1));
    @include border-radius(5px);
    @media(max-width: 768px){
      min-height: 150px;
    }
    .rishuBtn{
      @media(max-width: 768px){
          float: right;
          
      }
    }
    .lecture__title{
      padding: 10px 0 0 0;
      margin: 0;
      .detailBtn {
        cursor: pointer;
        padding: 5px 4px 5px 5px;
        @include transition(all 0.15s linear);
        @include border-radius(50%);
        @media(max-width: 768px){
          text-align: right;
        }
      }
      .detailOnBtn{
        &:hover{
          color: $greenColor;
          background: #eee;
        }
      }
      .detailOffBtn{
        padding-right: 6px;
        padding-bottom: 5px;
        &:hover {
          color: $redColor;
          background: #eee;
        }
      }
    }
    
    .lectureDivTable {
      .lecture__table {
        tr{
          td{
            min-width: 120px;
            @media(max-width: 768px){
              min-width: 70px;
            }
          }
          .lectureDesc {
            height: 200px;
            line-height: 1.9;
            overflow: auto;
            @media(max-width: 768px){
              height: 400px;
            }
          }
        }
      }
      // .lecture__table
    }
    // #lecture__table
  }
}
// .lecture

#displayModel {
  position: static;
  top: 0px;
  right: 0;
  padding-right: 0px;
  overflow: auto;
  @media(max-width: 768px){
    position: static;
    padding-left: 15px;
    
  }
  
  .sidebarTitle {
    background-color: $subColor;
    font-weight: bold;
    color: $baseColor;
    padding: 17px 0px 17px 15px;
    margin: 0;
    @media(max-width: 768px){
      text-align: center;
    }
    
  }
  #rishuModel__Content {
    height: 300px;
    overflow: auto;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    
    ul{
      padding-left: 20px;
      li {
        list-style-type: none;
        a {
          @include fontsize(12);
          font-weight: bold;
          color: $subColor;
        }
      }
    }

  }
  
  #rishuInfo {
    h5{
      span{
        color: $subColor;
        font-weight: bold;
      }
    }
  }
}