@import 'compass';
@charset 'utf-8';
$baseColor: #fff;
$subColor: #353e94;
$greenColor : #00f100;
$yellowColor : #ffd700;
$redColor : #ff4500;
$blueColor : #5cb3f1;
$orangeColor: #ffb600;

$ja_font :   "游ゴシック","メイリオ", "Verdana", "MS Pゴシック", "sans-serif","Times New Roman";
@mixin fontsize($size: 24, $base : 10){
  font-size: $size + px;
  font-size: $size / $base  * 1rem;
}
.fontBold {
  font-weight: bold;
}
.fontWhite {
  color: #fff;
}

h6{
  @include fontsize(14);
}
h5{
  @include fontsize(16);
}
h4{
  @include fontsize(18);
}
h3{
  @include fontsize(20);
  
}
h2{
  @include fontsize(22);
}
h1{
  @include fontsize(24);
}
p{
  @include fontsize(14);
}
a{
  color: $subColor;
}

td {
  @include fontsize(14);
}
body {
  font-family: $ja_font;
  font-size: 62.5%;
  background: #fff;
  
}

// --------------- bootstrap --------------- //

.navbar {
  border-radius: 0;
  margin: 0;
}
.navbar-nav{
  @include fontsize(14);
}
.nav-tabs {
  @include fontsize(14);
}
.nav>li>a:hover {
  text-decoration: none;
  background: inherit;
}
.nav>li>a:focus {
  
}
.dropdown-menu>li{
  .material{
    color: $blueColor;
    &:hover {
      color: $blueColor;
    }
  }
  .bio{
    color: $redColor;
    &:hover {
      color: $redColor;
    }
  }
  .apply{
    color: $orangeColor;
    &:hover {
      color: $orangeColor;
    }
  }
  .env{
    color: $greenColor;
    &:hover {
      color: $greenColor;
    }
  }
}
.dropdown{
  display: inline-block;
  @include fontsize(14);
}
.input-group {
  margin: 20px 0;
}
.row {
  margin: 0 0 0 0;
}
// --------------- ryouiki color --------------- //
.ryouikihisshu{
  text-decoration-line: underline;
}
.recommended{
  text-decoration: underline dotted red;
}
.sciEn {
  font-weight: bold;
}
.eng {
  font-style: italic;
  font-family: "ＭＳ ゴシック";
}
.material{
  color: $blueColor;
}
.bio{
  color: $redColor;
}
.apply{
  color: $orangeColor;
}
.env{
  color: $greenColor;
}
.sci {
  
}
.material-bg{
  background-color: $blueColor;
  &:hover {
    background-color: darken($blueColor, 10%);
  }
}
.bio-bg{
  background-color: $redColor;
  &:hover {
    background-color: darken($redColor, 10%);
  }
}
.apply-bg{
  background-color: $orangeColor;
  &:hover {
    background-color: darken($orangeColor, 10%);
  }
}
.env-bg{
  background-color: $greenColor;
  &:hover {
    background-color: darken($greenColor, 10%);
  }
}
.well {
  @include border-radius(0 5px 5px 5px);
}
.apply-well {
  background-color: lighten($orangeColor, 30%);
}
.material-well {
  background-color: lighten($blueColor, 30%);
}
.bio-well {
  background-color: lighten($redColor, 30%);
}
.env-well {
  background-color: lighten($greenColor, 30%);
}

.clearfix:after {
  
  content: " " ;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.topMargin {
  margin: 10px 0;
  min-height: 1000px;
}
.wholeMargin {
  margin: 10px 10px;
}
.noteLabel {
  padding: 18px 20px;
  border-left: 5px solid $subColor;
  max-width: 600px;
  @include box-shadow(1px 1px 0.8px 0.8px rgba(0,0,0,0.2));
}
.tabContent {
  &:nth-child(1){
    display: none;
  }
  &:nth-child(2) {
    display: none;
  }
}
.tabs__lab {
  .lab__ryouiki{
    ul {
      li {
        @include border-radius(5px 5px 0 0);
        padding: 0 10px;
        cursor: pointer;
        margin-bottom: -1px;
        h3 {
          margin: 10px 0px;
          @media( max-width: 800px){
            @include fontsize(12);
          }
        }
      }
    }
    div{
      .profs{
        @include display-flex(flex);
        @include justify-content(space-between);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        .prof{
          width: 188px;
          
          h5{
            display: inline-block;
          }
        }
      }
    }
  }
}
.tabs__ryouiki {
  
  .btns{
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    button {
      @include fontsize(20);
      font-weight: bold;
      color: white;
      width: 48%;
      padding: 30px 1%;
      margin: 20px 1%;
      @include box-sizing(border-box);
      @include box-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.2));
      @include justify-content(space-between);
      
    }
  }
}

.tabs__keyword {
  #dropSearchField {
    ul {
      li{
        
        .child {
          display: block;
          padding: 3px 30px;
          font-size: 12px;
          line-height: 1.42857143;
          color: #777;
          white-space: nowrap;
        }
      }
    }
  } // #dropSearchField
  
  #freewordSearch {
    width: 70%;
    @media(max-width: 800px){
      width: 100%;
    }
    #searchTxt {
      
    }
    .input-group-btn {
      text-align: left;
    }
  }
}


  
.lectures{
  .lecture{
    padding: 5px;
    margin: 10px 0;
    min-height: 100px;
    @include box-shadow(1px 1px 1px 2px rgba(0,0,0,0.1));
    @include border-radius(5px);
    @media(max-width: 800px){
      min-height: 150px;
    }
    .rishuBtn{
      @media(max-width: 800px){
          float: right;
          
      }
    }
    .lecture__title{
      padding: 10px 0 0 0;
      margin: 0;
      .detailBtn {
        cursor: pointer;
        padding: 5px 4px 5px 5px;
        @include transition(all 0.15s linear);
        @include border-radius(50%);
        @media(max-width: 800px){
          text-align: right;
        }
      }
      .detailOnBtn{
        &:hover{
          color: $greenColor;
          background: #eee;
        }
      }
      .detailOffBtn{
        padding-right: 6px;
        padding-bottom: 5px;
        &:hover {
          color: $redColor;
          background: #eee;
        }
      }
    }
    
    .lectureDivTable {
      .lecture__table {
        tr{
          td{
            min-width: 120px;
            @media(max-width: 800px){
              min-width: 70px;
            }
          }
          .lectureDesc {
            height: 200px;
            line-height: 1.9;
            overflow: auto;
            @media(max-width: 800px){
              height: 400px;
            }
          }
        }
      }
      // .lecture__table
    }
    // #lecture__table
  }
}
// .lecture

#displayModel {
  position: static;
  top: 0px;
  right: 0;
  padding-right: 0px;
  overflow: auto;
  @media(max-width: 800px){
    position: static;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  
  .sidebarTitle {
    background-color: $subColor;
    font-weight: bold;
    color: $baseColor;
    padding: 17px 0px 17px 15px;
    margin: 0;
    @media(max-width: 800px){
      text-align: center;
    }
    
  }
  #rishuModel__Content {
    height: 300px;
    overflow: auto;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    
    ul{
      padding-left: 20px;
      li {
        list-style-type: none;
        a {
          @include fontsize(12);
          font-weight: bold;
          color: $subColor;
        }
      }
    }

  }
  
  #rishuInfo {
    h5{
      span{
        color: $subColor;
        font-weight: bold;
      }
    }
  }
}


#easyExam {
  margin: 0 10px ;
  
  ul {
    margin: 20px 0;
    padding: 0;
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    li{
      list-style-type: none;
      margin: 10px 0;
      @include transition(all .2s ease-in-out);
      .eleBtn {
        width: 130px;
        height: 60px;
        @include fontsize(16);
        @include transition(all .2s ease-in-out);

      }
    }
  }
  
  
}
.checked {
  background-color: $subColor;
  color: white;
}

#fieldLabs {
  table {
    thead {
      tr {
        th {
          text-align: left;
          @include fontsize(12);
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
        }
      }
    }
  }
}
#textBtn {
  display: inline-block;
  width: 98%;
  margin : 0 0 100px 0;
  @media(max-width: 800px) {
    width: 100%;
  }
}
#physicsGraph {
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  @media(max-width: 800px) {
    top: 500px;
  }
}
#baseGraph {
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  @media(max-width: 800px) {
    top: 500px;
  }
}
#clsDataVisualization{
  #ryouikiGraphs {
    margin: 0 1% ;
    
  }
}
.nav > li.sp {
   @media(max-width: 1000px) {
    display: none;
  }
}

// easyExamのモーダル部分のscss
.modal-dialog {
  z-index: 1080;
}


footer {
  background-color: #272626;
  text-align: center;
  color: white;
  padding: 5px 0;
  margin-top: 100px;
  
}

#backgroundLoad {
  background-color: $baseColor;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 950;
  #sokaLogo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16%;
    margin-top: -15%;
    margin-right: auto;
    @media(max-width: 800px) {
      margin-top: -50%;
      margin-left: -60%;
    }
    @media(max-width: 1000px) {
      margin-left: -23%;
    }
  }
  #loading{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3%;
    margin-top: 10%;
    z-index: 1000;
    @media(max-width: 700px) {
      margin-left: -10%;
      margin-top: -15%;
    }
  }
}
.erase-sp{
  @media(max-width: 1000px) {
    display: none;
  }
}